<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Mauricio Magnani", "http://cognition.sh", class: "text-white" %></small>
    </div>
</footer>